<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Social Digger</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Social Digger</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post" enctype="multipart/form-data">
    	<input type="text" name="user_name" placeholder="Name" required="required" />
        <input type="file" name="file" accept="image/*" mutiple>
        <button type="submit" value='upload' class="btn btn-primary btn-block btn-large">Search for User</button>
    
    </form>
<!--    <p id="sdsd">ejfoe</p>-->
<!--<script>-->
<!--    if({{prediction_text2}}!="")-->
<!--    document.getElementById("sdsd").style.display="none";-->
<!--    </script>-->
    
   <br>
   <br>
    {{prediction_text}}
    <br>
    {{prediction_text2}}
 </div>


</body>
</html>
